section#banner {
    min-height: 100vh;
    background-image: linear-gradient(-225deg, rgba(120,120,120,0.6) 0%, rgba(50,50,50,0.6) 50%), url('../images/banner.jpeg');
}

section#specialities {
    height: 45vw;
    background-image: linear-gradient(-225deg, rgba(120,120,120,0.6) 0%, rgba(50,50,50,0.6) 50%), url('../images/specialities.jpg');
    margin-top: -3%;
    text-align: center;
    color: $white;

    .spec-title {
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }
}

.banner-content {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    width: 80%;

    .restau-name {
        font-family: $logo-font;
        text-transform: capitalize;
        font-size: 9vw;
    }
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 4vw;       
}