// FONTS
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700');

$logo-font: 'Dancing Script', cursive;
$menu-font: 'Istok Web', sans-serif;

// COLOURS
$white: rgb(255,255,255);
$l-grey: rgb(150,150,150);
$d-grey: rgb(50,50,50);
$gold: rgb(178, 153, 122);
$b-beige: rgb(246, 244, 241);