section#infos {
    height: 40vw;
}

.infos-content {
    background-color: $white;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    margin-top: -3%;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 50% 50%;
}

.reservations, .about {
    text-align: center;

    .infos-title {
        color: $d-grey;
        font-family: $logo-font;
        margin-bottom: 5%;
        font-size: 3.5vw;
    }

    .infos-txt {
        color: $l-grey;
        margin-bottom: 15%;
        font-size: 1vw;
    }
}

.reservations {
    padding: 10%;
}

.about {
    padding: 3% 8%;
}

.infos-pic-1 {
    background-image: url('../images/outside.jpg');
}

.infos-pic-2 {
    background-image: url('../images/inside.jpg');
}