section#infos {
    height: 40vw;
}

.infos-content {
    background-color: $white;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    margin-top: -3%;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 50% 50%;
}

.reservations, .about {
    text-align: center;

    .infos-title {
        color: $d-grey;
        font-family: $logo-font;
        margin-bottom: 5%;
        font-size: 3.5vw;
    }

    .infos-txt {
        color: $l-grey;
        margin-bottom: 15%;
        font-size: 1vw;
    }
}

.reservations {
    padding: 10%;
}

.about {
    padding: 3% 8%;
    background-color: $white;
}

.infos-pic-1 {
    background-image: url('../images/outside.jpg');
}

.infos-pic-2 {
    background-image: url('../images/inside.jpg');
    display: block;
}

/* Tablet (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    section#infos {
        height: 60vw;
    }

    .infos-content {
        width: 90%;
    }

    .reservations .infos-txt,
    .about .infos-txt {
        font-size: 1.5vw;
    }

    .reservations {
        padding: 12%;
    }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    section#infos {
        height: auto;
    }
    .infos-content {
        display: block;
        width: 90%;
    }

    .reservations, .infos-pic-1, .about {
        width: 100%;
    }

    .infos-pic-1 {
        height: 200px;
    }

    .infos-pic-2 {
        display: none;
    }

    .reservations {
        padding: 2%;
        height: 230px;

        .gold-btn {
            font-size: 1rem;
        }

        .infos-txt {
            margin-bottom: 10%;
        }
    }

    .infos-title {
        font-size: 2rem !important;
    }

    .infos-txt {
        font-size: 1rem !important;
    }

    .about {
        padding: 5%;
        height: 450px;
    }
}