section#menu {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: $white;
}

#pizza {
    position: absolute;
    left: -20%;
    top: 20%;
    height: 620px;
}
#pasta-dish {
    position: absolute;
    right: -15%;
    height: 531px;
}
#pasta-raw {
    position: absolute;
    bottom: 10%;
    right: -10%;
    height: 425px;
}

.menu-content {
    width: 65%;
    margin: 8% auto;

    .menu-title {
        text-align: center;
    }

    .menu-title .menu-border {
        display: inline-block;
        border-bottom: 1px solid $gold;
        margin-bottom: 5%;
    }

    .menu-border h2 {
        text-transform: capitalize;
        color: $d-grey;
        font-family: $logo-font;
        font-size: 90px;        
    }

    .menu-cat {
        text-align: center;
        text-transform: uppercase;
        color: $l-grey;
        letter-spacing: 1px;
        margin-bottom: 5%;
        font-size: 36px;
        font-weight: 700;
    }
}

.food, .desserts {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.food {
    margin-bottom: 5%;
}

.el {
    flex:0 0 50%;
    padding: 2%;
    align-items: center;
    margin-bottom: 4%;

    .dish-name {
        color: $d-grey;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 26px;
        font-weight: 700;
    }

    .dish-desc {
        color: $l-grey;
        font-size: 18px;
    }

    .dish-price {
        font-family: $logo-font;
        color: $gold;
        font-size: 42px;
        font-weight: 700;
        padding-top: 7%;
    }
}

/* Scaling between 480px and 1800px */
@media (min-width: 601px) and (max-width: 1800px) {
    .menu-content .menu-border h2 { font-size: 5vw; }
    .menu-content .menu-cat { font-size: 2vw; }
    .el .dish-name { font-size: 1.5vw; }
    .el .dish-desc { font-size: 1vw; }
    .el .dish-price { font-size: 2.5vw; }
    #pasta-dish { height: 30vw; }
    #pizza { height: 35vw; }
    #pasta-raw { height: 24vw; }
}

/* Scaling between 320px and 600px */
@media (min-width: 320px) and (max-width: 600px) {
    #pasta-dish { height: 30vw; }
    #pizza { height: 35vw; }
    #pasta-raw { height: 24vw; }
}


/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    #pasta-raw {
        bottom: 18%;
    }

    #pizza {
        top: 25%;
    }

    .menu-content {
        margin-bottom: 30%;

        .menu-title, .menu-border {
            margin-bottom: 10%;
        }

        .menu-title h2 {
            font-size: 3rem;
        }

        .menu-cat {
            font-size: 1rem;
            margin: 14% 0;
        }
    }

    .food, .desserts {
        display: block !important;
    }

    .el {
        .dish-name {
            font-size: 0.8rem;
        }
        .dish-desc {
            font-size: 0.7rem;
        }
        .dish-price {
            font-size: 1.3rem;
        }
    }
}