.spec-content {
    background-color: $white;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    margin-top: -3%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;

    .dish:nth-child(6), .dish:nth-child(8) {
        .dish-price { margin-top: 7%; }
    }
}

.dish {
    text-align: center;
    padding: 6%;
    background-color: $white;

    h3 {
        color: $d-grey;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        margin: 12% 0;
    }

    p {
        color: $l-grey;
        font-size: 18px;
    }

    .dish-price {
        text-transform: uppercase;
        color: $gold;
        font-weight: 700;
        margin-top: 17%;
        font-size: 24px;
    }
}

.pic-1 {
    background-image: url('../images/lasagna.jpg');
}
.pic-2 {
    background-image: url('../images/baricole.jpg');
}
.pic-3 {
    background-image: url('../images/eggplant-parmigiana.jpg');
}
.pic-4 {
    background-image: url('../images/spaghetti-meatballs.jpg');
}

/* Scaling on desktop */
@media (min-width: 601px) and (max-width: 1800px) {
    .dish h3 { font-size: 1.4vw; }
    .dish p { font-size: 1vw; }
    .dish .dish-price { font-size: 1.3vw; }
}

/* Tablet (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    section#specialities-grid {
        height: 50vw;
    }

    .spec-content {
        width: 90%;
    }

    .dish p {
        font-size: 1.5vw;
    }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    section#specialities-grid {
        height: auto;

        div.dish:nth-child(1) {
            border-bottom: 1px solid $l-grey;
            border-right: 1px solid $l-grey;
        }

        div.dish:nth-child(6) {
            border-right: 1px solid $l-grey;
        }

        div.dish:nth-child(3) {
            border-bottom: 1px solid $l-grey;
        }
    }

    .spec-content {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 90%;

        .pic-1, .pic-2, .pic-3, .pic-4 {
            display: none;
        }
    }

    .dish {
        flex-basis: 50%;
        padding: 2%;

        .spec-title {
            font-size: 0.8rem;
            margin: 5% 0;
        }

        p {
            font-size: 0.8rem;
        }

        .dish-price {
            font-size: 1rem;
            margin-top: 7%;
        }
    }
}