section#specialities-grid {
    height: 40vw;
}

.spec-content {
    background-color: $white;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    margin-top: -3%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

.dish {
    text-align: center;
    padding: 6%;
    background-color: $white;

    h3 {
        color: $d-grey;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4vw;
        margin: 12% 0;
    }

    p {
        color: $l-grey;
        font-size: 1vw;
    }

    .dish-price {
        text-transform: uppercase;
        color: $gold;
        font-weight: 700;
        margin-top: 17%;
        font-size: 1.3vw;
    }
}

.pic-1 {
    background-image: url('../images/lasagna.jpg');
}
.pic-2 {
    background-image: url('../images/baricole.jpg');
}
.pic-3 {
    background-image: url('../images/eggplant-parmigiana.jpg');
}
.pic-4 {
    background-image: url('../images/spaghetti-meatballs.jpg');
}