// IMPORTS
@import 'config';

@import 'banner';
@import 'navbar';

// GENERAL STYLES
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.flex {
    display: flex;
}

p, ul, li {
    margin: 0 !important;
}