// IMPORTS
@import 'config';

@import 'banner';
@import 'button';
@import 'infos';
@import 'navbar';

// GENERAL STYLES
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $b-beige;
}

.flex {
    display: flex;
}

p, ul, li {
    margin: 0;
}