@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700");
@import url("https://fonts.googleapis.com/css?family=Istok+Web:400,700");
.bg-pic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

section#banner {
  min-height: 100vh;
  background-image: linear-gradient(-225deg, rgba(120, 120, 120, 0.6) 0%, rgba(50, 50, 50, 0.6) 50%), url("../images/banner.jpeg"); }

section#specialities {
  height: 40vw;
  background-image: linear-gradient(-225deg, rgba(120, 120, 120, 0.6) 0%, rgba(50, 50, 50, 0.6) 50%), url("../images/specialities.jpg");
  margin-top: -3%;
  text-align: center;
  color: white; }
  section#specialities .spec-title {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center; }

section#meal-pic {
  height: 40vw;
  background-image: url("../images/meal-table.jpg");
  margin-top: -3%; }

.banner-content {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 80%; }
  .banner-content .restau-name {
    font-family: "Dancing Script", cursive;
    text-transform: capitalize;
    font-size: 9vw; }

.subtitle {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 4vw; }

.menu-mob {
  display: none; }

.down-btn-mob {
  display: none; }

/* Tablet (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  section#banner {
    min-height: 80vh; } }
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .banner-content .restau-name {
    font-size: 3rem; }
  .banner-content .subtitle {
    font-size: 1.5rem; }

  .menu-mob {
    display: block; }

  .down-btn-mob {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
    color: white; }
    .down-btn-mob p {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 500; }

  section#specialities {
    height: 230px; }
    section#specialities .subtitle {
      font-size: 1.8rem; }

  section#meal-pic {
    height: 200px; } }
.gold-btn {
  padding: 4% 6%;
  border: 1px solid #b2997a;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #b2997a;
  background-color: transparent;
  transition: all 0.5s ease 0s;
  font-size: 1.3vw; }
  .gold-btn:link, .gold-btn:hover, .gold-btn:active, .gold-btn:focus, .gold-btn:visited {
    color: #b2997a;
    text-decoration: none; }
  .gold-btn:hover {
    background-color: #b2997a;
    color: white; }

/* Tablet (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .gold-btn {
    font-size: 0.8rem; } }
#mob-footer {
  display: none; }

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #mob-footer {
    display: block;
    height: 10vh;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -5px 5px -5px #323232; }
    #mob-footer #footer-links {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
    #mob-footer .footer-link {
      color: #323232;
      text-align: center; }
      #mob-footer .footer-link i {
        font-size: 1.3rem; }
      #mob-footer .footer-link p {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8rem; } }
section#infos {
  height: 40vw; }

.infos-content {
  background-color: white;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  margin-top: -3%;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 50% 50%; }

.reservations, .about {
  text-align: center; }
  .reservations .infos-title, .about .infos-title {
    color: #323232;
    font-family: "Dancing Script", cursive;
    margin-bottom: 5%;
    font-size: 3.5vw; }
  .reservations .infos-txt, .about .infos-txt {
    color: #969696;
    margin-bottom: 15%;
    font-size: 1vw; }

.reservations {
  padding: 10%; }

.about {
  padding: 3% 8%;
  background-color: white; }

.infos-pic-1 {
  background-image: url("../images/outside.jpg"); }

.infos-pic-2 {
  background-image: url("../images/inside.jpg");
  display: block; }

/* Tablet (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  section#infos {
    height: 60vw; }

  .infos-content {
    width: 90%; }

  .reservations .infos-txt,
  .about .infos-txt {
    font-size: 1.5vw; }

  .reservations {
    padding: 12%; } }
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  section#infos {
    height: auto; }

  .infos-content {
    display: block;
    width: 90%; }

  .reservations, .infos-pic-1, .about {
    width: 100%; }

  .infos-pic-1 {
    height: 200px; }

  .infos-pic-2 {
    display: none; }

  .reservations {
    padding: 2%;
    height: 230px; }
    .reservations .gold-btn {
      font-size: 1rem; }
    .reservations .infos-txt {
      margin-bottom: 10%; }

  .infos-title {
    font-size: 2rem !important; }

  .infos-txt {
    font-size: 1rem !important; }

  .about {
    padding: 5%;
    height: 450px; } }
section#menu {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: white; }

#pizza {
  position: absolute;
  left: -20%;
  top: 20%;
  height: 35vw; }

#pasta-dish {
  position: absolute;
  right: -15%;
  height: 30vw; }

#pasta-raw {
  position: absolute;
  bottom: 10%;
  right: -10%;
  height: 24vw; }

.menu-content {
  width: 65%;
  margin: 8% auto; }
  .menu-content .menu-title {
    text-align: center; }
  .menu-content .menu-title .menu-border {
    display: inline-block;
    border-bottom: 1px solid #b2997a;
    margin-bottom: 5%; }
  .menu-content .menu-border h2 {
    text-transform: capitalize;
    color: #323232;
    font-family: "Dancing Script", cursive;
    font-size: 5vw; }
  .menu-content .menu-cat {
    text-align: center;
    text-transform: uppercase;
    color: #969696;
    letter-spacing: 1px;
    margin-bottom: 5%;
    font-size: 2vw;
    font-weight: 700; }

.food, .desserts {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch; }

.food {
  margin-bottom: 5%; }

.el {
  flex: 0 0 50%;
  padding: 2%;
  align-items: center;
  margin-bottom: 4%; }
  .el .dish-name {
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5vw;
    font-weight: 700; }
  .el .dish-desc {
    color: #969696;
    font-size: 1vw; }
  .el .dish-price {
    font-family: "Dancing Script", cursive;
    color: #b2997a;
    font-size: 2.5vw;
    font-weight: 700;
    padding-top: 7%; }

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #pasta-raw {
    bottom: 18%; }

  #pizza {
    top: 25%; }

  .menu-content {
    margin-bottom: 30%; }
    .menu-content .menu-title, .menu-content .menu-border {
      margin-bottom: 10%; }
    .menu-content .menu-title h2 {
      font-size: 3rem; }
    .menu-content .menu-cat {
      font-size: 1rem;
      margin: 14% 0; }

  .food, .desserts {
    display: block !important; }

  .el .dish-name {
    font-size: 0.8rem; }
  .el .dish-desc {
    font-size: 0.7rem; }
  .el .dish-price {
    font-size: 1.3rem; } }
nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2%; }

#menu-logo {
  color: white;
  width: 22%; }
  #menu-logo p {
    font-family: "Dancing Script", cursive;
    font-size: 3vw;
    text-transform: capitalize; }
    #menu-logo p i {
      font-size: 2.5vw;
      margin-right: 10%; }

#menu-mob {
  display: none; }

#menu-links {
  text-transform: uppercase;
  flex-grow: 1;
  text-align: right; }
  #menu-links #translations {
    color: #969696; }

.menu-link {
  display: inline;
  font-family: "Istok Web", sans-serif;
  font-weight: 700; }
  .menu-link a {
    color: white;
    transition: color 0.5s ease 0s;
    font-size: 1.5vw; }
    .menu-link a:link, .menu-link a:hover, .menu-link a:focus, .menu-link a:active, .menu-link a:visited {
      text-decoration: none; }
    .menu-link a:hover {
      color: #b2997a; }
  .menu-link .grey {
    color: #969696;
    margin: 0 1%; }

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menu-link, #menu-logo {
    display: none; }

  .menu-mob {
    display: block;
    margin-left: 2%;
    margin-top: 2%; }

  #translations {
    margin-right: 2%; } }
section#specialities-grid {
  height: 40vw; }

.spec-content {
  background-color: white;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  margin-top: -3%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%; }

.dish {
  text-align: center;
  padding: 6%;
  background-color: white; }
  .dish h3 {
    color: #323232;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4vw;
    margin: 12% 0; }
  .dish p {
    color: #969696;
    font-size: 1vw; }
  .dish .dish-price {
    text-transform: uppercase;
    color: #b2997a;
    font-weight: 700;
    margin-top: 17%;
    font-size: 1.3vw; }

.pic-1 {
  background-image: url("../images/lasagna.jpg"); }

.pic-2 {
  background-image: url("../images/baricole.jpg"); }

.pic-3 {
  background-image: url("../images/eggplant-parmigiana.jpg"); }

.pic-4 {
  background-image: url("../images/spaghetti-meatballs.jpg"); }

/* Tablet (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  section#specialities-grid {
    height: 50vw; }

  .spec-content {
    width: 90%; }

  .dish p {
    font-size: 1.5vw; } }
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  section#specialities-grid {
    height: auto; }
    section#specialities-grid div.dish:nth-child(1) {
      border-bottom: 1px solid #969696;
      border-right: 1px solid #969696; }
    section#specialities-grid div.dish:nth-child(6) {
      border-right: 1px solid #969696; }
    section#specialities-grid div.dish:nth-child(3) {
      border-bottom: 1px solid #969696; }

  .spec-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 90%; }
    .spec-content .pic-1, .spec-content .pic-2, .spec-content .pic-3, .spec-content .pic-4 {
      display: none; }

  .dish {
    flex-basis: 50%;
    padding: 2%; }
    .dish .spec-title {
      font-size: 0.8rem;
      margin: 5% 0; }
    .dish p {
      font-size: 0.8rem; }
    .dish .dish-price {
      font-size: 1rem;
      margin-top: 7%; } }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #f6f4f1; }

.flex {
  display: flex; }

p, ul, li {
  margin: 0; }

/*# sourceMappingURL=output.css.map */
